<header>
  <div class="header--title--container">
    <h1><span> Salinas Kite </span></h1>
    <span class="cometa"> 🪁 </span>
    <p>Welcome</p>
    <a href="#aboutMe" title="direccionar a abajo" class="header--button">About us<span></span></a>
  </div>
</header>
<main>
  <section id="aboutMe" class="main-exchange-container">
    <figure>
      <img class="profilePhoto" src="../assets/img/profilePhoto.png" alt="Esta es mi foto de perfil">
    </figure>
    <div class="main-exchange-container--title">
      <h2>🏄 Salinas Kite 🏄 </h2>
      <p>Somos una escuela de kiteboarding en salinas del rey,
        con <strong>+5</strong> años de experiencia dando felicidad a nuestros kiters a través de la
        práctica del Kitesurf.</p>
    </div>
  </section>
  <section class="main-product-detail">
    <figure>
      <img class="atom-ico" src="../assets/icons/sol.png" alt="Esta es la imagen un sol">
    </figure>
    <div class="product-detail-title">
      <h2>Escuela local.</h2>
    </div>
    <section class="plans-container--slider">
      <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let data of letrasTarjeta" class="accordion--expasion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="accordion--expasion-panel-title">{{data?.titulo}}</mat-panel-title>
            <mat-panel-description class="accordion--expasion-panel-descriptions"> {{data?.descripcion}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{data?.texto}}</p>
          <ul>
            <li *ngFor="let lit of data?.literales">{{lit}}</li>
          </ul>
          <mat-action-row>
            <a class="btn-redict-wa" href="{{data.tagA.href}}" title="{{data.tagA.titulo}}"
              target="_blank">{{data.tagA.text}}
            </a>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

  </section>
  <section class="main-plans-container">
    <figure>
      <img class="atom-ico" src="../assets/icons/sol.png" alt="Esta es la imagen un sol">
    </figure>
    <div class="plans--title">
      <h2>Donde encontrarnos :</h2>
      <p>Mapa</p>
    </div>
    <section class="map">
      <article class="plans-container--card">
        <div class="plan-infor-container">
          <figure class="compan-figure">
            <img class="compan-ico" src="./assets/icons/Consware.svg" alt="Imagen del mapa">
          </figure>
        </div>
      </article>
    </section>
  </section>
</main>
<footer>
  <section class="left">
    <figure>
      <a href="https://www.facebook.com/profile.php?id=100079079694180&mibextid=ZbWKwL" title="link for facebook"
        target="_blank">
        <img class="iconFooter" src="./assets/icons/fb.png" alt="Facebook">
      </a>
    </figure>
    <figure>
      <a href="https://instagram.com/salinaskite?igshid=OGQ2MjdiOTE=" title="link for instagram" target="_blank">
        <img class="iconFooter" src="./assets/icons/Instagram.svg" alt="Instagram">
      </a>
    </figure>
    <figure>
      <a href="https://wa.me/573002156944" title="link for WhatsApp" target="_blank">
        <img class="iconFooter icowhatsapp" src="./assets/icons/ico-whatsapp.svg" alt="WhatsApp">
      </a>
    </figure>

  </section>
  <section class="copyright">
    <div>
      <p>Copyright © 2023 jrodrigu3</p>
    </div>
  </section>

</footer>

<router-outlet></router-outlet>