<header>
  <div class="header--title--container">
    <h1><span> SalinasKite </span></h1>
    <span class="cometa"> 🪁 </span>
    <p>Welcome</p>
    <a href="#aboutMe" title="direccionar a abajo" class="header--button">About us<span></span></a>
  </div>
</header>
<main>
  <section id="aboutMe" class="main-exchange-container">
    <figure>
      <img class="profilePhoto" src="../assets/img/salinaKitesPrincipal.png" alt="Esta es mi foto de perfil">
    </figure>
    <div class="main-exchange-container--title">
      <p>Somos una escuela de kiteboarding en salinas del rey,
        con <strong>+5</strong> años de experiencia dando felicidad a nuestros kiters a través de la
        práctica del Kitesurf.</p>
    </div>
  </section>
  <section class="main-product-detail">
    <figure>
      <img class="atom-ico" src="../assets/icons/sol.png" alt="Esta es la imagen un sol">
    </figure>
    <div class="product-detail-title">
      <h2>Escuela local.</h2>
    </div>
    <section class="plans-container--slider">
      <div class="information" *ngFor="let data of letrasTarjeta">
        <h2 class="information-h2">{{data?.titulo}} </h2>
        <p class="information-p">{{data?.texto}}</p>
        <ul class="information-ul">
          <li class="mat-expansion-li" *ngFor="let lit of data?.literales">{{lit}}</li>
        </ul>
        <div class="div-btn-redict-wa">
          <a class="btn-redict-wa" href="{{data.tagA.href}}" title="{{data.tagA.titulo}}"
            target="_blank">{{data.tagA.text}}
          </a>
        </div>
      </div>
    </section>

  </section>
  <section class="main-plans-container">
    <figure>
      <img class="atom-ico" src="../assets/icons/sol.png" alt="Esta es la imagen un sol">
    </figure>
    <div class="plans--title">
      <h2>Donde encontrarnos :</h2>
      <p>Mapa</p>
    </div>
    <section class="map">
      <article class="plans-container--card">
        <div class="plan-infor-container">
          <figure class="compan-figure">
            <a href="" title="link for facebook" target="_blank">
              <img class="compan-ico" src="../assets/icons/google_maps-tile.svg" alt="Imagen del mapa">
            </a>
          </figure>
        </div>
      </article>
    </section>
  </section>
</main>
<footer>
  <section class="left">
    <figure>
      <a href="https://www.facebook.com/profile.php?id=100079079694180&mibextid=ZbWKwL" title="link for facebook"
        target="_blank">
        <img class="iconFooter" src="./assets/icons/fb.png" alt="Facebook">
      </a>
    </figure>
    <figure>
      <a href="https://instagram.com/salinaskite?igshid=OGQ2MjdiOTE=" title="link for instagram" target="_blank">
        <img class="iconFooter" src="./assets/icons/Instagram.svg" alt="Instagram">
      </a>
    </figure>
    <figure>
      <a href="https://wa.me/573002156944" title="link for WhatsApp" target="_blank">
        <img class="iconFooter icowhatsapp" src="./assets/icons/ico-whatsapp.svg" alt="WhatsApp">
      </a>
    </figure>

  </section>
  <section class="copyright">
    <div>
      <p>Copyright © 2023 <a href="https://instagram.com/jrodrigu3/" title="link for iinstagram" target="_blank">
          jrodrigu3</a> </p>
    </div>
  </section>

</footer>

<router-outlet></router-outlet>